body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.navbar li
{
    width:220px;
    display:inline;
    margin-right: 10px;
    margin-left: 10px;
    float: right;
    
}
.navbar
{
   
    font-size: 20px;
    
}
h1{
    font-size: 32px;
}
#port
{
    color: rgb(4, 151, 78);
}

#aboutme
{
    color: brown;
    padding-left: 5%;
}
.myself
{
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 3%;
    width: 40%;
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
    float: left;
    padding-left: 10px;
    
}
.half-width
{
    
}
.biosample
{
    font-size: 25px;
    box-shadow: 10px 10px 40px rgb(122, 122, 122);
    border-radius: 10px;
    height: 40%;
    width: 60%;
}
.propic
{
    padding-left: 15%;
    padding-top: 3%;
}
.propic2
{
    padding-left: 10px;
    padding-top: 8px;
    float: left;
    display: inline-block;
}

.hyperlink
{
    color: White;
    text-decoration: none;
    background-color: rgb(84, 190, 137);
    padding:2px 20px;
    border-radius: 8px;
}
.proskill
{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 50%;
    border: 2px solid red;
    border-radius: 5px;
    padding-left: 7%;
    float: left;
}
.half-width-second
{
    width: 45%;
    float: left;
    display: inline-block;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

































