body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
.navbar li
{
    width:160px;
    display:inline;
    margin-right: 1px;
    margin-left: 1px;
    float: right;
}
.navbar
{
   
    font-size: 20px;
    
}
h1{
    font-size: 32px;
}
.hi{
    font-size: 45px;
}
.port
{
    font-size: 40px;
    color: rgb(4, 151, 78);
}

#aboutme
{
    color: brown;
    padding-left: 5%;
}
.myself
{
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 3%;
    width: 42%;
    border-radius: 5px;
    padding: 10px;
    float: left;
    padding-left: 2%;
    
}
.bamside
{
    
    font-size: 10px;
    width: 39%;
    height: 10%;
}
.biosample
{
    font-size: 20Px;
    box-shadow: 10px 10px 40px rgb(122, 122, 122);
    border-radius: 10px;
    height: 40%;
    width: 60%;
}
.propic
{
    padding-left: 15%;
    padding-top: 3%;
    margin-bottom: 2%;
}
.propic2
{
    padding-left: 10px;
    padding-top: 8px;
    float: left;
    display: inline-block;
}
.half-width
{
    width:100%;
}

.hyperlink
{
    color: White;
    text-decoration: none;
    background-color: rgb(84, 190, 137);
    padding:2px 20px;
    border-radius: 8px;
    font-size: 20px;
    margin-left: 5%;
}
.proskill
{
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5px;
    width: 50%;
    border-radius: 5px;
    padding-left: 7%;
    float: left;
}
.half-width-second
{
    width: 45%;
    float: left;
    display: inline-block;
}
#proskillalign
{
    margin-left: 20%;
    margin-top: 5%;
    padding-left:6%
}
.thirdsection
{
    float:left;
    clear:both;
}
.spanalign
{
    text-align: center;
    font-size: 5px;
}
#latest
{
    color: tomato;
    
}
.item
{
    
    border-radius: 10px;
    margin-left: 2%;
    float: left;
    height:390px;
}
.text
{
    font-size: 16px;
    padding-bottom: 2%;
    margin-right: 4%;
}
.imgwidth
{
    margin-top: 20px;
    border-radius: 10px;
    width: 80%;
}
.thirdsection
{
    margin-left:50px;
    
}
.box
{
    box-shadow: 10px 10px 40px rgb(122, 122, 122);
    border-radius: 10px;
    width: 30%;
    color:darkslategray;
}
.itemtitle
{
    font-weight: bold;
    font-size: 30px;
}
.lastimage
{
    margin-top: 20%;
    margin-left: 25%;
    height: 40%;
    width:50%;
}
.work
{
    background-image: url("shapes/group.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: bottom;
    clear: both;
    margin-top: 15%;
    background-size:700px ;
    min-height: 400px;
    margin-bottom: 20%;
    margin-right: 2%;

}
.work-section h1
{
    float:left;
    width: 40%;
    font-size: 30px;
    color: white;
    margin-left: 30%;
    margin-top: 20%;
}
.work-section a
{
    float: right;
    margin-right: 30%;
    margin-top: -4%;
    margin-bottom: 400px;

}

.contract{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
.contract img{
    width: 35px;
    margin: 5px 13px;
}
#stay
{
    margin-left: 29%;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

































